doctype html
html(lang='en')
 head
   title fml
 body
   h1#pageTitle Hello, World!
   div.remark--photo
     p CAN you believe this? I am seriously SO screwed omg
     p.imSUckis osme text that is supposed to work
    .display-box
